# External API
REACT_APP_STRAPI_URL=<string>
REACT_APP_STRAPI_TOKEN=<string>
REACT_APP_STRAPI_TOKEN_KEY=<string>

# General
REACT_APP_WEBSITE_NAME=react-dashboard-template
REACT_APP_TOKEN_KEY=_rd_item
