# External API
REACT_APP_STRAPI_URL=<string>
REACT_APP_STRAPI_TOKEN=<string>
REACT_APP_STRAPI_TOKEN_KEY=<string>

# General
REACT_APP_WEBSITE_NAME=react-dashboard-template
REACT_APP_TOKEN_KEY=_rd_item

# Firebase
REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_AUTH_DOMAIN=
REACT_APP_FIREBASE_PROJECT_ID=
REACT_APP_FIREBASE_STORAGE_BUCKET=
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=
REACT_APP_FIREBASE_APP_ID=
REACT_APP_FIREBASE_MEASUREMENT_ID=
