# External API
NX_STRAPI_URL=<string>
NX_STRAPI_TOKEN=<string>
NX_STRAPI_TOKEN_KEY=<string>

# General
NX_WEBSITE_NAME=<%= name %>
NX_TOKEN_KEY=_rd_item

# Firebase
NX_FIREBASE_API_KEY=
NX_FIREBASE_AUTH_DOMAIN=
NX_FIREBASE_PROJECT_ID=
NX_FIREBASE_STORAGE_BUCKET=
NX_FIREBASE_MESSAGING_SENDER_ID=
NX_FIREBASE_APP_ID=
NX_FIREBASE_MEASUREMENT_ID=
