# External API

NX_STRAPI_URL=http://localhost:1337
NX_STRAPI_TOKEN=<string>
NX_STRAPI_TOKEN_KEY=<string>

# General Config

NX_WEBSITE_NAME=<%= name %>
NX_ENVIRONMENT=<production|staging|development>
NX_SITE_URL=https://site-name.com

# Analytics

## Firebase

NX_API_KEY=<from firebase config>
NX_AUTH_DOMAIN=<from firebase config>
NX_PROJECT_ID=<from firebase config>
NX_STORAGE_BUCKET=<from firebase config>
NX_MESSAGING_SENDER_ID=<from firebase config>
NX_APP_ID=<from firebase config>
NX_MEASUREMENT_ID=<from firebase config>
NX_REMOTE_CONFIG_INTERVAL=<number>

## Google Tag Manager

NX_GOOGLE_TAG_MANAGER_ID=<string>

## Sentry

NX_SENTRY_DSN=<string>
NX_SENTRY_DEBUG=<boolean>
NX_SENTRY_URL=<string>
NX_SENTRY_ORG=<string>
NX_SENTRY_PROJECT=<string>
NX_SENTRY_AUTH_TOKEN=<string>
NX_SENTRY_TRACE_RATE=<number>
